services:
  powermonitor:
    build: .
    container_name: powermonitor
    restart: unless-stopped
    ports:
      - "8888:8888"
    volumes:
      # Mount data directory to persist database
      - ./data:/srv/docker/powermonitor/data
    environment:
      - PYTHONUNBUFFERED=1
      - MQTT_HOST='mqtthost.local'
      - MQTT_PORT=1883
      - MQTT_USER='you'
      - MQTT_PASSWORD='secret'
      - ENPHASE_EMAIL='you@gmail.com'
      - ENPHASE_PASSOWRD='alsosecret'
      - ENVOY_IP='192.168.1.36'
      - ENVOY_SERIAL="12345678910"
